.label {
  display: flex;
  flex-direction: column;
  transition: color 0.3s;
}
.labelText {
  margin-bottom: 4px;
  cursor: pointer;
}
.input[type="text"],
.input[type="number"] {
  padding: 7px 6px;
  background: #ffffff;
  box-shadow: inset -1px -1px 0px #ffffff, inset 1px 1px 0px #808080,
    inset -2px -2px 0px #dbdbdb, inset 2px 2px 0px #000000;
  outline: none;
  border: 0;
}
.input::placeholder {
  font-family: inherit;
  color: #525252;
}

.fileWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.fileName {
  white-space: nowrap;
  max-width: 140px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.error {
  color: #900;
}

span.error {
  margin-top: 4px;
}
