.item {
  display: flex;
  align-items: center;
  box-shadow: inset -1px -1px 0px #000000, inset 1px 1px 0px #dbdbdb,
    inset -2px -2px 0px #808080, inset 2px 2px 0px #ffffff;
  padding: 8px 16px 8px 8px;
  img {
    width: 71px;
    height: 71px;
    display: block;
    margin-right: 16px;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .title {
    font-size: 12px;
  }

  .infoBottom {
    display: flex;
    gap: 8px;
    align-items: flex-end;
  }
  .description {
    font-size: 8px;
    line-height: 8px;
    color: #3c3c3c;
  }

  .button {
    padding: 3px 11px;
  }
}
