.progressSection {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	margin-bottom: 11px;
	gap: 9px;
}
.progressBar {
	background: #dfdfdf;
	width: 100%;
	height: 15px;
	font-size: 0px;
}
.progressFiller {
	background: #b577da;
	height: 100%;
}