.message {
  width: 100%;
  display: flex;
  gap: 16px;
  align-items: unset;
  padding: 8px 16px 8px 8px;
}
.message .avatar {
  display: block;
  width: 71px;
  height: 71px;
}
.message .col {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 8px;
}
.message .name {
  font-size: 12px;
  color: #000000;
  margin-bottom: 12px;
}
.message .lastMessage {
  padding: 5px 16px;
  background: #d9d9d9;
  font-size: 10px;
  width: 100%;
  text-align: left;
  text-overflow: ellipsis;
  color: #3c3c3c;
}