.actionButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.actionButton {
  width: 100%;
  padding: 7px 0;
  display: flex;
  justify-content: center;
}

.actionButton span {
  margin-right: 6px;
}
