.modal {
  position: fixed;
  min-width: 250px;
  max-width: 330px;
  max-height: 81.802vh;
  pointer-events: none;
}
.background {
  display: flex;
  flex-direction: column;
  box-shadow: inset -1px -1px 0px #000000, inset 1px 1px 0px #dbdbdb,
    inset -2px -2px 0px #808080, inset 2px 2px 0px #ffffff;
  background: #bfbfbf;
  padding: 3px;
  max-height: inherit;
  pointer-events: all;
}

.background *{
  font-smooth: never;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: unset;
}
