.container {
  position: relative;
  will-change: top, left;
  max-height: inherit;
  pointer-events: all;
}
.headerCover {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
  height: 21px;
}
