.CropModal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: calc(100vh - 40px);
}
.CropModal .CropBlock {
  max-width: 95vw;
	/* 100vh - 40px - 30px (buttons line) - 10px (gap) - 40px (y-paddings) */
  max-height: calc(100vh - 120px);
  overflow: hidden;
}
.CropBlock img {
  height: 100%;
}
.buttonsLine {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.buttonsLine button {
  height: 30px;
}
